[Unit]
Description=goose bot
Documentation=https://discord.com/developers
After=network.target

[Service]
Environment=BOT_TOKEN=
Type=simple
User=
WorkingDirectory=
ExecStart=node index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target